<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rnkit.verify">


    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.token.verifysdk.VerifyActivity"></activity>
        <activity android:name=".MyActivity"
            android:theme="@style/myDialog"/>
    </application>

</manifest>